h1 {
  font-size: 14px;
  color: white;
  margin: 0;
}

@font-face {
  font-family: 'sysfont.otf';
  src: url('sysfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Internet.ttf';
  src: url('fonts/Internet.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* scroll bar (yes i know its alot just for a scrollbar) */

body *::-webkit-scrollbar {
  width: 18px;
  height: 16px;
  background: none;
}

body *::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

body *::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}

body *::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

body *::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-corner {
  background: silver;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('images/backgrounds/summerbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* Use min-height for full viewport coverage */
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  height: 60px;
  color: white;
  background-color: transparent;
}

#nav img {
  margin: 0 15px;
  -webkit-filter: drop-shadow(5px 5px #222);
  filter: drop-shadow(5px 5px #222);
}

#nav img:hover {
  transform: scale(1.4);
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container-style {
  background-color: #d6d3ce;
  width: 80vh;
  height: 61vh;
  box-shadow: 2px 2px 2px #888888, 4px 4px black;
}

#header {
  background-color: #04479b;
  padding: 5px;
  margin: 0.75%;
  display: flex;
  align-items: center;
}

.header-title {
  width: 5%;
}

.x {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: flex-end;
}

#winicon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

#homeicon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

#black-bar {
  background-color: black;
  height: 2px;
  margin: 0.75%;
  box-shadow: 0 2px white;
}

#main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.xicon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#box-bg {
  background-color: #d6d3ce;
  width: 98%;
  height: 52vh;
  margin-top: 10px;
  box-shadow: -2px -2px 2px #888888;
  overflow: auto;
}

#p {
  color: black;
  text-align: center;
  font-family: 'Internet.ttf';
  font-size: 16px;
  margin: 10px 5px;
}

#p2 {
  text-align: center;
  color: black;
  font-family: 'Internet.ttf';
  font-size: 16px;
  margin: 5px;
}

#taskbar {
  background-color: #d6d3ce;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: -2px -2px 2px white;
}

.start-button {
  background-color: #d6d3ce;
  color: #000;
  border: none;
  padding: 5px 10px;
  border-radius: 0;
  margin-right: 5px;
  box-shadow: 2px 2px 2px #888888;

}

.start-box {
  box-shadow: -2px -2px 2px white;
}

.news {
  text-align: center;
  font-family: 'Internet.ttf';
  padding-bottom: 2px;
}

.news-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
  width: 20vh;
  -webkit-filter: drop-shadow(2px 2px 4px #222);
  shadow(5px 5px #222);
}

.news-bar {
  background-color: #cac7c2;
  color: black;
  padding: 5px;
  flex-grow: 1;
  margin: 0 10px;
  overflow: hidden;
}

.taskbar-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;

}

.system-tray-icons {
  display: flex;
  align-items: center;
  padding-right: 25px;
}



.system-tray-icon {
  background-color: #d6d3ce;
  color: #000;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #888888;
}

.system-tray-icon img {
  width: 30px;
  height: 30px;
}

.system-tray-icon:hover {
  box-shadow: -2px -2px 2px #888888;
}

@media (max-width: 768px) {

  #nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    background-color: transparent;
    width: 85%;
  }

  #nav img {
    width: 12%;
    height: auto;
    margin: 0 2%;

    /* Adjust margin for smaller screens */
  }

  /* Adjust styles for the taskbar */
  #taskbar {
    height: 2vh;
    padding: 10px 0;
    box-shadow: 0 -2px white;
  }

  .news-bar {
    display: none;
  }

  .start-box {
    margin-left: 10px;
    box-shadow: -2px -2px white;
  }

  .start-button {
    padding: 5px 25px;
    box-shadow: 2px 2px #888888;
  }

  .system-tray-icons {
    display: flex;
    align-items: center;
    padding-right: 2px;
  }

  .system-tray-icon {
    box-shadow: 2px 1px #888888;
  }

  #main-container-style {
    background-color: #d6d3ce;
    width: 95%;
    height: 70vh;
    box-shadow: 2px 2px 2px #888888, 4px 4px black;
  }

  #box-bg {
    background-color: #d6d3ce;
    width: 98%;
    height: 61vh;
    margin-top: 10px;
    box-shadow: -2px -2px 2px #888888;
    overflow: auto;
  }

}